body, section {
  background: #fbfcfd;
}

input {
  padding: 0 .5em;
  margin: 0 .5em;
}

* {
  outline: none;
  user-select: none;
}

img {
  width: 25vw;
  height: auto;
  margin: 1em 0;
}

.news-block {
  position: relative;
  display: flex;
  flex-direction: column;
}

.news-gradient {
  position: absolute;
  bottom: 38px;
  pointer-events: none;
  height: 130px;
  width: 100%;
  background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,.75) 66%, transparent 100%);
  z-index: 3;
  transition: .3s;
}

.news-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .5em auto;
  margin-top: 1em;
  white-space: nowrap;
}

.news-item {
  transition: .3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1.5em 0;
  padding: 1em;
  background: transparent;
  cursor: pointer;

  h3 {
    height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  p {
    margin: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  &.active {
    z-index: 4;

    h3 {
      height: auto;
      overflow: visible;
      white-space: normal;
      text-overflow: unset;
    }

    p {
      margin: 1em 0;
    }
  }
}

.img-container {
  width: 100%;
}

.show-more {
  width: 100%;
  padding: 2em;
}

.fade-enter {
  opacity: .01;
}

.fade-enter-active {
  opacity: 1;
  transition: .3s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 1;
  transition: .3s ease-in-out;
}

h1 {
  font-weight: 100 !important;
  font-family: unset;
}

// Glitch animation
.glitch{
  color:black;
  position:relative;
  width:auto;
  font-size: 36px;
  @media screen and (min-width: 768px){
    font-size: 90px;
    letter-spacing: -5px;
  }
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:black;
  background:white;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue;
  top:0;
  color:black;
  background:white;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}